version: "3.8"

services:
  listener:
    build:
      context: .
      dockerfile: dockerfile
      target: listener
    depends_on:
      - redis
      - broker
      - server
    ports:
      - 5002:8000
    volumes:
      - ./:/listener
  webserver:
    build:
      context: .
      dockerfile: dockerfile
      target: webserver
    ports:
      - 5001:80
    environment:
      ServerName: "localhost"
    volumes:
      - $PWD/www:/var/www/html
  server:
    build:
      context: .
      dockerfile: dockerfile
      target: server
    depends_on:
      - redis
      - broker
    ports:
      - 5003:80
    volumes:
      - ./:/server
  verify:
    build:
      context: .
      dockerfile: dockerfile
      target: verify
  test:
    build:
      context: .
      dockerfile: dockerfile
      target: test
    depends_on:
      - redis
      - broker
  redis:
    image: redis:alpine
    ports:
      - 6379:6379
    volumes:
      - redis-data:/data
  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    hostname: zookeeper
    container_name: zookeeper
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
  broker:
    image: confluentinc/cp-kafka:latest
    hostname: broker
    container_name: broker
    depends_on:
      - zookeeper
    ports:
      - "29092:29092"
      - "9092:9092"
      - "9101:9101"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: 'zookeeper:2181'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://broker:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_JMX_PORT: 9101
      KAFKA_JMX_HOSTNAME: localhost

volumes:
  redis-data: