<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='scss/base.css') }}">
    <script src="{{ url_for('static', filename='mermaid.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery-3.6.0.min.js') }}"></script>

    <script>
        $(document).ready(function () {
            // Attach an event listener to the form submission event
            $('#diagnostic-form').submit(function (event) {
                // Prevent the default form submission behavior
                event.preventDefault();

                // Serialize the form data into a query string
                var formData = $(this).serialize();

                // Send an AJAX request to the API endpoint
                $.ajax({
                    type: 'POST',
                    url: '/api/diagnostic',
                    data: formData,
                    success: function (response) {
                        // Handle the API response here
                        console.log(response);
                        $("#diagnostic-form").trigger("reset");
                    },
                    error: function (xhr, status, error) {
                        // Handle any errors that occur during the API call
                        console.error(error);
                    }
                });
            });
        });
    </script>
</head>

<body>

<div class="container-fluid px-4">
    <div id="content">
        <div class="container px-5">
            <div class="row gx-5">
                <h1>Puzzle Room!</h1>
            </div>
            <div class="row gx-5">
                <div class="col">
                    <div class="card bg-success-subtle">
                        <div class="card-header">
                            <h3>Attempt a Solution</h3>
                        </div>
                        <div class="card-body text-center text-lg-center">
                            <br/>
                            <form id="diagnostic-form">
                                <div class="input-group mb-3">
                                    <label class="input-group-text" for="game-select">Select Game:</label>
                                    <select class="form-select" id="game-select" name="game_id" aria-label="Default select example">
                                            <option selected value="None">No Game</option>
                                            {% for game in games %}
                                                <option value="{{ game.game_id }}">{{ game.get_reference() }} ({{ game.game_id }})</option>
                                            {% endfor %}
                                    </select>
                                </div>
                                <div class="input-group mb-3">
                                    <label class="input-group-text" for="diagnostic_text">Enter Diagnostic Text:</label>
                                    <input class="form-control"
                                           id="diagnostic_text" type="text"
                                           name="diagnostic_text" placeholder="type or scan in text...">
                                    <button class="btn btn-secondary" type="submit">Submit</button>
                                </div>
                            </form>
                            <br/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>