{% extends "layout/base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title">Game: {{ game.game_ref }}</h5>
                        </div>
                        <div class="col text-end">
                            <span class="badge bg-primary">Game ID: {{ game.game_id }}</span>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Game Config:</strong> {{ game.game_config.name }}</li>
                        <li class="list-group-item"><strong>Config Version:</strong> {{ game.game_config.version }}</li>
                    </ul>
                </div>
                <div>
                    <p id="demo"></p>

                    <script>
                        // Set the date we're counting down to
                        let countDownDate = new Date("{{ game.get_target_time().isoformat() }}").getTime();

                        // Update the count down every 1 second
                        let x = setInterval(function() {

                            // Get today's date and time
                            let now = new Date().getTime();

                            // Find the distance between now and the count down date
                            let distance = countDownDate - now;

                            // Time calculations for days, hours, minutes and seconds
                            let days = Math.floor(distance / (1000 * 60 * 60 * 24));
                            let hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                            let minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                            let seconds = Math.floor((distance % (1000 * 60)) / 1000);

                            // Display the result in the element with id="demo"
                            document.getElementById("demo").innerHTML = days + "d " + hours + "h "
                                + minutes + "m " + seconds + "s ";

                            // If the count down is finished, write some text
                            if (distance < 0) {
                                clearInterval(x);
                                document.getElementById("demo").innerHTML = "EXPIRED";
                            }
                        }, 1000);
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}