{% extends "layout/base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Actions</th>
                    <th scope="col">Game Reference</th>
                    <th scope="col">Started</th>
                    <th scope="col">Ended</th>
                    <th scope="col">Puzzles</th>
                </tr>
                </thead>
                <tbody>
                {% for game in games %}
                <tr>
                    <td>{{ game.game_id }}</td>
                    <td>
                        <a class="btn btn-outline-success" href="/play/{{ game.game_id }}" role="button">Play</a>
                        <a class="btn btn-outline-primary" href="/game/{{ game.game_id }}" role="button">View</a>
                    </td>
                    <td>{{ game.get_reference() }}</td>
                    <td>{{ game.started }}</td>
                    <td>{{ game.ended }}</td>
                    <td>{{ game.get_puzzle_count() }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}